<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>源辰-零食网</title>
<meta name="keywords" content="小吃,美食,零食,源辰" />
<meta name="description" content="各种小吃美食，应有尽有" />
<link href="images/yc.png" rel="shortcut icon" type="image/x-icon" />
<link href="css/header.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/footer.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ajax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript"
	src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<script type="text/javascript">
	function queryGood(){
		axios.get("goods?tno="+vgood.tno+
				"&pageIndex="+vgood.pageIndex+"&gname="+vtype.gname
				+"&num1="+vgood.num1+"&num2="+vgood.num2)
				.then(res=>{
					if(res.data==""){
						$("#popup_info").text("没有搜索到您要的结果..");
						showMsg();
						return;
					}
					vgood.list = res.data;
		})
	}
	
	
	function queryPages(){
		axios.get("countPage?tno="+vgood.tno+"&gname="+vtype.gname
				+"&num1="+vgood.num1+"&num2="+vgood.num2).then(res=>{
			vgood.count = res.data;
			vgood.pages = parseInt(vgood.count/20);
			if(vgood.count%20>0){
				vgood.pages++;
			}
			queryGood();
		})
	}
	
	var LocString=String(window.document.location.href);
	 function GetQueryString(str){
	 var rs=new RegExp("(^|)"+str+"=([^&]*)(&|$)","gi").exec(LocString),tmp;
	 if(tmp=rs){
		 return tmp[2];
	 }
	 	return "";
	 }
</script>
<body>
<!-- 顶部区域 -->
<header id="header">
	<!-- 顶部标题区域 -->
	<div class="htitle">
    	<a href="#" target="_blank" class="location">衡阳</a>
        
        <div class="header-info">
            <div v-if="showname" class="login-info">
            	<a href="login.html" title="点击登录">您好，请登录</a>
                <a href="register.html" title="点击注册"> 免费注册 </a>
            </div>
            <div v-if="!showname" class="login-info">
            	<a href="#">{{list.nickName}}</a>
            	<a href="#" @click="back">退出</a>
            </div>
            
            <div class="person-info">
            	<span>|</span>
            	<a @click="order" href="#" >我的订单</a>
                <span>|</span>
                <a href="#" >我的小吃</a>
                <span>|</span>
                <a href="#" >客户服务</a>
                <span>|</span>
           		<a @click="my" href="#">个人信息</a>
            </div>
        
        </div>
    </div>
    
    <script type="text/javascript">
    	var vname = new Vue({
    		el:".htitle",
    		data:{
    			list:{},
    			showname:true,
    		},created(){
    			axios.get("getName").then(res=>{  				
    				if(res.data){
						this.showname=false;
						this.list=res.data;
					}else{
						this.showname=true;						
					}
    			})
    		},methods:{
    			back(){
    				if(confirm("确认退出吗")){
    					location.href = "login.html";
    				}
    			},my(){
    				if(this.showname==true){
    					$("#popup_info").text("您还未登录...");
    					showMsg();
    					setTimeout(function(){
    						location.href = "login.html";
						},1000)
    				}else{
    					location.href = "my.html";
    				}
    			},order(){
    				if(this.showname==true){
    					$("#popup_info").text("您还未登录...");
    					showMsg();
    					setTimeout(function(){
    						location.href = "login.html";
						},1000)
    				}else{
    					location.href = "order.html";
    				}
    			}
    		}
    	})
    </script>

    
    <!-- 顶部搜索区域 -->
    <div class="search">
    	<!-- <div class="search_left">
    		<a href="index.html" title="首页">
            	<img src="images/logo.png" width="260px" height="120px"/> 
            </a>
        </div> -->
        
        <div class="search_right">
        	<div class="search_top">
                <div class="search_div">
                    <input v-model="gname" type="search" class="search-ipt" placeholder="请输入要搜索的内容" />
                    <input @click="search" type="button" class="search-btn"/>  
                </div>
                <div class="buycart">
                	<i class="iconfont">{{nums}}</i>
                    <a href="#"  @click="cart">我的购物车</a>
                </div>
            </div>
            
            <div class="search_item" id="search_item">
            	<a href="index.html" :class="active == -1 ? 'selected' : ''" >全部</a>
            	<a v-for="(s,index) in list" :value="index" :class = "active == index ? 'addclass' : ''" 
            	:name="s.tno" :href="'index.html?' + Math.random() + '#' + s.tno" @click="changeStype(event,index)">{{s.tname}}</a>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
    	var vtype = new Vue({
    		el:".search",
    		data:{
    			list:{},
    			carts:{},
    			gname:"",
    			active:-1,
    			nums:0,
    		},created(){
    			axios.get("stype").then(res=>{
    				this.list = res.data;
    				if(vname.showname==false){
        				axios.get("cart").then(res=>{
        					if(res.data!=null){
	        					this.carts = res.data;
	        					this.nums = this.carts.length;
        					}
        				});
        			}
    			});  			
    		},methods:{
    			search(){
    				this.active = -1;
    				vgood.pageIndex = 1;
    				vgood.tno = "";
    				vgood.gname = this.gname;
    				queryPages();
    			},changeStype(e,index){
    				vgood.tno = e.target.name;
    				this.active = index;
    				$(".selected").removeClass(".selected");
    				vgood.pageIndex = 1;  				
    				this.gname = "";
    				axios.get("StypeGood?tno="+vgood.tno+"&pageIndex="+vgood.pageIndex)
					.then(res=>{
    					queryPages();
    				})
    			},cart(){
    				if(vname.showname==true){
    					$("#popup_info").text("您还未登录...");
    					showMsg();
    					setTimeout(function(){
    						location.href = "login.html";
						},1000)    					
    				}else{
    					location.href = "cart.html";
    				}
    			}
    		}
    	})
    </script>
</header>

<div class="slide">
	<ul class="slide_pics">
        <li><a href="" class=""><img src="images/slide01.jpg" alt="幻灯片"></a></li>
        <li><a href="" class=""><img src="images/slide02.jpg" alt="幻灯片"></a></li>
        <li><a href="" class=""><img src="images/slide03.jpg" alt="幻灯片"></a></li>
        <li><a href="" class=""><img src="images/slide04.jpg" alt="幻灯片"></a></li>
        <li><a href="" class=""><img src="images/slide05.jpg" alt="幻灯片"></a></li>
    </ul>
    <div class="prev"></div>
    <div class="next"></div>
    <ul class="points"></ul>
</div>


<article id="goods">
    <div class="view_title">
    	<a @click="queryPrice" href="#" class="view_price price_down">价格</a>
        <input v-model="num1" type="number" id="start_price" class="price_ipt" min="1"/>
        <span>-</span>
        <input v-model="num2" type="number" id="end_price" class="price_ipt" min="1"/>
    </div>
    
    <div class="view_goods">
    	<ul id="view_goods">
        	<li class="hot_box" v-for="(g,index) in list">
            	<i class="all_i i_t"></i>
				<i class="all_i i_r"></i>
				<i class="all_i i_b"></i>
				<i class="all_i i_l"></i>
                <a :href="'detail.html?#'+g.gno"  class="hot_warp">
                	<img :src="g.pics" title="好吃"/>
                    <span>{{g.gname}}</span>
                </a>
                <div class="view_info">
                	<span class="price">{{g.price}}</span>
                    <span>/ {{g.weight}}</span>
                    <span class="buy" @click="addCart(index)">&nbsp;</span>
                </div>
            </li>
        </ul>
    </div>
    
    
    
    
    <div class="page_info">
    	<a href="#" @click="change(event)">首页</a>
        <a href="#" v-for = "n in pages" @click="changePage(event)">{{n}}</a>
        <a href="#" @click="change(event)">末页</a>
    </div>
</article>

<script type="text/javascript">
    var vgood = new Vue({
    	el:"#goods",
    	data:{
    		list:{},
    		count:"",
    		pageIndex:1,
    		pages:"",
    		gname:"",
    		tno:"",
    		num1:"",
    		num2:"",
    	},created(){
    		if(location.hash.substring(1)!=""){
    			this.tno = location.hash.substring(1);
    		}
    		var name= decodeURI(GetQueryString("gn"));
			this.gname = name;
			vtype.gname = name;
    		axios.get("countPage?tno="+this.tno+"&gname="+vtype.gname
    				+"&num1="+this.num1+"&num2="+this.num2).then(res=>{
    			this.count = res.data;
    			this.pages = parseInt(this.count/20);
				if(this.count%20>0){
					this.pages++;
				}
				queryGood();
				//this.pageIndex = 1;								
    		})     		
    	},methods:{
    		changePage(e){
    			this.pageIndex = e.target.innerText;
    			queryGood();
    		},change(e){
    			var text = e.target.innerText;
    			if(text=="首页"){
    				this.pageIndex = 1;
    			}else{
    				this.pageIndex = this.pages;
    			}
        		queryGood();
    		},queryPrice(){
    			queryPages();
    		},addCart(index){
    			axios.get("addCart?gno="+this.list[index].gno+"&nums=1").then(res=>{
					if(res.data.code==1){
						$("#popup_info").text("加入购物车成功...");
						showMsg();
						axios.get("cart").then(res=>{
        					vtype.carts = res.data;
        					vtype.nums = vtype.carts.length;
        				});
					}else{
						alert("系统繁忙,请稍后再试");
					}
				})
    		}
    	}
    })
    function showMsg(){
		$('.popup_con').fadeIn('fast', function(){
			setTimeout(function(){
				$('.popup_con').fadeOut('fast',function(){
					// location.href = 'alipay/pay/' + data.msg +"/" + price;
				});	
			}, 1000)
		});
	}
</script>

<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div> 
<footer>
	<div class="foot_link">
        <a href="#">关于我们</a> <span> | </span>
        <a href="#">联系我们</a> <span> | </span>
        <a href="#">招聘广告</a> <span> | </span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight &copy; 2019 <a class="copy" href="http://www.hyycinfo.com" target="_blank">衡阳市源辰信息科技有限公司</a> All Rights Reserverd</p>
    <p>电话：0734-8355998 湘ICP备16015987号-1</p>
</footer>
<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/slide.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
<script>
function addCart() {
	$("#popup_info").text("加入购物车成功...");
	$('.popup_con').fadeIn('fast', function() {
		setTimeout(function(){
			$('.popup_con').fadeOut('fast',function(){
			});	
		}, 2000)
	});
}
</script>
</body>
</html>
