<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>源辰-零食网登录</title>
<meta name="keywords" content="小吃,美食,零食,源辰" />
<meta name="description" content="各种小吃美食，应有尽有" />
<link href="images/yc.png" rel="shortcut icon" type="image/x-icon"/>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<link href="css/footer.css" rel="stylesheet" type="text/css" />



<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript"
	src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<style>

</style>
</head>

<body>
<!-- <header>
	<a href="index.html" target="_blank"><img src="images/logo.png" alt="logo" title="点击进入零食网" /></a>
</header> -->

<article>
	<div class="loginarea">
    	<div class="item">
        	<h1>没有账号? <a href="register.html">立即注册</a></h1>
        	<h1>管理员入口 <a href="back/index.html" target="_blank">管理员进</a></h1>
        </div>
        
        <div class="item item-border">
        	<label for="account" class="login_label"></label>
            <input v-model="m.nickname" type="text" class="ipt" name="account" id="account" placeholder="邮箱/用户名/已验证的手机"/>
            <span class="clear_btn" @click="logv.account=''"></span>
        </div>
        
        <div class="item item-border">
        	<label for="pwd" class="login_label pwd_label"></label>
            <input v-model="m.pwd" type="password" maxlength="18" class="ipt" name="pwd" id="pwd" placeholder="密码"/>
            <span class="clear_btn" @click="logv.pwd=''"></span>
        </div>
        
        <div class="item item2">
        	<input type="checkbox" id="auto">
        	<label for="auto">记住用户名</label>
          	<a href="#" @click="repwd">忘记密码</a>
        </div>
        
        <div class="item">
          	<a @click="log" href="#" class="btn_img">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</a>
        </div>
        
        <div class="item item3">
          	<ul>
            	<li><a href="#"><span></span>QQ</a></li>
                <li><span></span></li>
                <li><a href="#"><span></span>微信</a></li>
            </ul>
        </div>
    </div>
</article>

<script type="text/javascript">
	var logv = new Vue({
		el:".loginarea",
		data:{
			m:{
				nickname:"",
				pwd:"",
				ifcheck:""
			},		
		},created(){
			axios.get("getCookie").then(res=>{
				if(res.data){
					this.m.nickname = res.data;
				}
			})
		},methods:{
			log(){
				if(auto.checked==true){
					this.m.ifcheck = 1;
				}else
					this.m.ifcheck = -1;
				var params = new URLSearchParams();
				params.append("pwd",this.m.pwd);
				params.append("nickname",this.m.nickname);
				params.append("ifcheck",this.m.ifcheck);
				axios.post("login",params).then(res=>{
					if(res.data.code==1){
						 $("#popup_info").text("欢迎您!");
						showMsg();
						setTimeout(function(){
							location.href = "index.html";
						},1000) 
					}else{
						$("#popup_info").text(res.data.msg);
						showMsg();
					}
				})
			},
			repwd(){
				top.location="reset.html";
			}
		}
	})

	
	function showMsg(){
		$('.popup_con').fadeIn('fast', function(){
			setTimeout(function(){
				$('.popup_con').fadeOut('fast',function(){
					// location.href = 'alipay/pay/' + data.msg +"/" + price;
				});	
			}, 1000)
		});
	}
</script>

<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div>
<footer>
	<div class="foot_link">
        <a href="#">关于我们</a> <span> | </span>
        <a href="#">联系我们</a> <span> | </span>
        <a href="#">招聘广告</a> <span> | </span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight &copy; 2019 <a class="copy" href="http://www.hyycinfo.com" target="_blank">衡阳市源辰信息科技有限公司</a> All Rights Reserverd</p>
    <p>电话：0734-8355998 湘ICP备16015987号-1</p>
</footer>
</body>
</html>
