<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>源辰-零食网注册</title>
<meta name="keywords" content="小吃,美食,零食,源辰" />
<meta name="description" content="各种小吃美食，应有尽有" />
<link href="images/yc.png" rel="shortcut icon" type="image/x-icon"/>
<link rel="stylesheet" href="css/register.css">
<link rel="stylesheet" href="css/footer.css">
<link href="images/yc.png" rel="shortcut icon" type="image/x-icon" />
<link href="css/header.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/footer.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript"
	src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<style type="text/css">
.span24 dt {
    font-size: 15px;
    line-height: 28px;
    margin: 5px 10px 1px 0;
    color: #f40;
    *margin-bottom: 3px;
}
.main_left{
    width: 80%px;
    height: 200%;
    float:right;
    background:#c0c0c0;
    cursor:pointer;
}
/*下面的星号让素有元素内外边距都为0，不留空隙*/
			*{
				padding:0px;
				margin:0px;
			/*我们让整个屏幕都有一种淡淡的背景色*/
			}

			/*下面这个box是承载全部网页内容的容器样式，是下面所有div元素的父级元素的样式，注意一定要先将字号设为0，否则主体和页脚之间会有一条白色缝隙*/
			#box{
				width:900px;
				margin:0 auto;
			}
			#logo{
				height:100px;
				background-color:orange;
			}
			#nav{
				display:inline-block;
				width:100px;
				height:600px;
				
				
			}
			#main{
				display:inline-block;
				width:800px;
				height:600px;
				float:right;
				
			}
</style>
</head>

<body>
<header id="header">
	<!-- 顶部标题区域 -->
	<div class="htitle">
    	<a href="#" target="_blank" class="location">衡阳</a>
        
        <div class="header-info">
            <div v-if="showname" class="login-info">
            	<a href="login.html" title="点击登录">您好，请登录</a>
                <a href="register.html" title="点击注册"> 免费注册 </a>
            </div>
            <div v-if="!showname" class="login-info">
            	<a href="#">{{list.nickname}}</a>
            	<a href="#" @click="back">退出</a>
            </div>
            
            <div class="person-info">
            	<span>|</span>
            	<a href="order.html" >我的订单</a>
                <span>|</span>
                <a href="#" target="_blank">我的小吃</a>
                <span>|</span>
                <a href="#" target="_blank">客户服务</a>
                <span>|</span>
           		<a href="#" target="_blank">个人信息</a>
            </div>
        
        </div>
    </div>
    
    <script type="text/javascript">
    	var vname = new Vue({
    		el:".htitle",
    		data:{
    			list:{},
    			showname:true,
    		},created(){
    			axios.get("getName").then(res=>{  				
    				if(res.data.data){
						this.showname=false;
						this.list=res.data.data;
					}else{
						this.showname=true;						
					}
    			})
    		},methods:{
    			back(){
    				if(confirm("确认退出吗")){
    					location.href = "login.html";
    				}
    			}
    		}
    	})
    </script>

    
    <!-- 顶部搜索区域 -->
   
    
    <script type="text/javascript">
    	var vtype = new Vue({
    		el:".search",
    		data:{
    			list:{},
    			carts:{},
    			gname:"",
    			active:-1,
    			nums:0,
    		},created(){
    			axios.get("stype").then(res=>{
    				this.list = res.data;
    				if(vname.showname==false){
        				axios.get("cart").then(res=>{
        					if(res.data!=null){
	        					this.carts = res.data;
	        					this.nums = this.carts.length;
        					}
        				});
        			}
    			});  			
    		},methods:{
    			search(){
    				this.active = -1;
    				vgood.pageIndex = 1;
    				vgood.tno = "";
    				vgood.gname = this.gname;
    				queryPages();
    			},changeStype(e,index){
    				vgood.tno = e.target.name;
    				this.active = index;
    				$(".selected").removeClass(".selected");
    				vgood.pageIndex = 1;  				
    				this.gname = "";
    				axios.get("StypeGood?tno="+vgood.tno+"&pageIndex="+vgood.pageIndex)
					.then(res=>{
    					queryPages();
    				})
    			},cart(){
    				if(vname.showname==true){
    					alert("请先登录");
    					location.href = "login.html";
    				}else{
    					location.href = "cart.html";
    				}
    			}
    		}
    	})
    </script>
</header>

<!-- 注册布局 -->
<div id="box">
			<div id='nav'>
				<ul type='none' style="font-size:20px;color:red;  margin-left:10px;margin-top:30px;">
					<li>个人中心</li>
				</ul>
				<ul type='none' style="font-size:12px;margin-left:10px;margin-top:30px;">
					<li><a href="my.html" src="#">个人资料</a></li>
					<li><a href="order.html" target="_blank">我的订单</a></li>
					<li><a href="cart.html" target="_blank">我的购物车</a></li>
					<li><a href="addr.html" target="_blank"> 我的地址</a></li>
				</ul>
			</div>
			<div id='main'>
				<!-- 右侧内容 -->
			        <div class="main_right">
			        	<ul   style="text-align: center;">
			        	<br><br>
			        	   <li>
			        			当前头像:<img :src="g.photo"><br><br>
			        		</li><br><br>
			        		<li>
			        			用户名:<input :value="g.nickName"> </input><br><br>
			        		</li><br><br>
			        		<li>
			        			电话：<input :value="g.tel"> </input><br><br>
			        		</li><br><br>
			        		<li>
			        			邮箱：<input :value="g.email"> </input><br><br>
			        		</li><br><br>

			        		<li>
			        			注册时间:<input :value="g.regDate"> </input>
			        		</li>
			        	
			        	</ul>

			            
			        </div>
			</div>
		<script type="text/javascript">
			var vue1=new Vue({
				el:"#box",
				data:{

					g:[]
					
				},created(){
					axios.get("getName").then(res=>{  				
	    				this.g=res.data;
	    			})
				},
			methods:{

			}
				
				
			})
		
		</script>
		</div>
<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div>
<!-- 版权所有 -->
<footer>
	<div class="foot_link">
        <a href="#">关于我们</a> <span> | </span>
        <a href="#">联系我们</a> <span> | </span>
        <a href="#">招聘广告</a> <span> | </span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight &copy; 2019 <a class="copy" href="http://www.hyycinfo.com" target="_blank">衡阳市源辰信息科技有限公司</a> All Rights Reserverd</p>
    <p>电话：0734-8355998 湘ICP备16015987号-1</p>
</footer>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script src="js/register.js"></script>
</body>
</html>
